<div class="container">
    <div class="column login">
        <h1>Welcome</h1>
        <form [formGroup]="loginForm" (ngSubmit)="OnSumbitlogin()">
            <div class="input-container">
                <input class="input-login" placeholder=" " type="text" formControlName="email">
                <label class="label-container">Enter your email</label>
            </div>
            <div class="input-container">
                <input class="input-login" placeholder=" " type="password" formControlName="password">
                <label class="label-container">Password</label>
            </div>
            <button class="submit-button" type="submit">Sign In</button>
        </form>
        <div>
            <a class="login-sms-cont" routerLink="/login-sms">Login With SMS</a>
        </div>
        <div class="mt-3">
            <label> Don't have an account?
            <a class="sign-up" routerLink="/register">Sign up</a> </label>
        </div>
    </div>
    <div class="column image"></div>
</div>